@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
    NAVBAR
*/
body {
    margin: 0;
    padding: 0;
}

/* Navbar */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 10;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 23px;
    z-index: 10;
}

.nav div.main_list {
    height: 65px;
    float: right;
    z-index: 10;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
    z-index: 10;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    z-index: 10;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
    z-index: 10;
}

.navTrigger {
    display: none;
    z-index: 10;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 10;
}

/* Media qurey section */

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        padding: 20px;
        font-family: "Quicksand", sans-serif;
        font-size: 22px;
    }
    .nav div.media_button {
        display: block;
    }
}

/* Animation */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.containerNav {
    width: 100%;
}

/*
    CATALOGO DE PRODUCTOS
*/
.pattern-diagonal-stripes-lg {
    color: #A89FA6;
}

.producto figure{
    position: relative;
}

.producto figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.producto  figure:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}


.cuadricula{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenido{
    height: auto;
    width: 25%;
    box-shadow:0 0 7px #111 ;
    margin: 30px 30px;
    background-color: black;
}

.contenido .card{
    height: auto;
    width: 100%;
    margin-bottom: 05px;
    background-color: black;
}

.card img{
    margin: auto;
    display: block;
    height: auto;
    width: 100%;
}

.informacion{
    height: 120px;
    width: 100%;

}

.informacion h1{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: white;
    margin-bottom: 03px;
}

.informacion p{
    height: 100px;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: .9em;
    color: #ccc;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    margin-left: 08px;
    margin-right: 08px;

}

.precio {
    height: 50px;
    width: 85%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.box-precio{
    width: 120px;
}

.box-precio span {
    font-size: 30px;
    font-family: "New Century Schoolbook", serif;
}

.shoping{
    font-size: 1.5em;
    color: #555;
}

@media (max-width:320px)
{
    .contenido{
        width: 100%;
        margin: 30px 0;
    }
}
@media (max-width:600px)
{
    .contenido{
        width: 100%;
        margin: 30px 0;
    }
}

@media (max-width:700px)
{
    .contenido{
        width: 80%;
        margin: 30px 0;
    }
}

@media (max-width:900px)
{
    .contenido{
        width: 40%;
        margin: 30px 20px;
    }
}

/*
    BARRA DE BUSCADOR
*/

.divBuscador{
    width: 100%;
    height: auto;
    background-color: #ffb8b8;
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-left-style: none;
    border-right-style: none;
}

.tituloBarra h1{
    font-family: 'Pacifico', cursive;
    font-size: 63px;
    font-weight: 900;
    text-align: center;
    color: #000204;
}

#linea1{
    border-top: 2px dashed #cd84f1;
    width: 80%;
}

#linea2{
    border-top: 2px dashed #cd84f1;
    width: 60%;
}

/*  SEARCH BAR */

.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

.cover input, button {
    color: #fff;
    font-family: Nunito;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.cover {
    width: 60%;
    padding: 35px;
    background-color: #3d3d3d;
    border-radius: 20px;
    box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cover form {
    height: 30px;
}

.cover input[type="text"] {
    width: 100%;
    height: 40px;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    line-height: 1;
}

.cover input[type="text"]::placeholder {
    color: #ffe8f0;
}

#s-cover {
    width: 1px;
    padding-left: 35px;
}

.cover button {
    position: relative;
    display: block;
    width: 84px;
    height: 30px;
    cursor: pointer;
}

#s-circle {
    position: relative;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    margin-top: 0;
    border-width: 15px;
    border: 5px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.cover button span {
    position: absolute;
    top: 24px;
    left: 40px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.cover button span:before, button span:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

#s-cover:hover span {
    top: 50%;
    left: 75px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before {
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
    bottom: -11px;
    transform: rotateZ(-52deg);
}

#s-cover:hover button span:before, #s-cover:hover button span:after {
    right: -6px;
    width: 40px;
    background-color: #fff;
}

/* SELECT CATEGORIA */

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

/* Remove IE arrow */

select::-ms-expand {
    display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.coverSelect {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #3d3d3d;
    overflow: hidden;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

.coverSelect select{
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

.coverSelect::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #18dcff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}


/* Transition */

.coverSelect:hover::after {
  color: #ffcccc;
}
